html {
  font-size: 10px;
  background: url('https://images.unsplash.com/photo-1588032786045-59cefda005c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1188&q=80') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px  .305rem rgb(149, 117, 205);
  border: .2rem solid rgba(251, 93, 68, 0.778);
  border-radius: 1.2rem;
  background: rgba(170, 45, 45, 0.4);
  width: 50%;
  position: relative;
  top: 2rem;
  left: 25rem;
}

.title {
  margin: 10px 0px;
  padding: 10px 0px;
  font-family: 'My Soul', cursive;
  color: rgb(250, 250, 250);
  font-size: 4.5rem;
}

.key {
  border: .2rem solid rgba(251, 93, 68, 0.778);
  border-radius: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .15s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(170, 45, 45, 0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.23);
  background: rgba(59, 9, 9, 0.4);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.containerFooter {
  padding: 5px 0px 5px 0px;
  font-size: .94rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  text-align: center;
  background-color: rgb(236, 239, 241);
}
.containerFooter span {
  padding-left: .75rem;
}

.audioContainer {
  position: relative;
  margin: 0;
}

.imgTitleAudio {
  margin-right: 16px;
}

.audioTrack {
  position:relative;
  bottom: 16rem;
  left: 0rem;
  margin-left: 10rem;
}

.audioTrack-mp3 {
  border-radius: 32px;
  border: 1px solid #34343465;
  box-shadow: 5px .5px 35px 10px #dc8181;
}

.figCaptionAudio {
  font-family: 'My Soul';
  letter-spacing: 3px;
  text-shadow: 2px 2px  .305rem rgb(149, 117, 205);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(59, 9, 9, 0.9);
  border: solid rgba(255, 255, 255, 0.614) 1px;
  border-radius: 32px;
  padding: 16px 10px 16px 10px;
  width: 24rem;
  color: aliceblue;
  font-size: 2.75rem;
  font-weight: 700;
  margin-bottom: 4rem;
  box-shadow: 5px .5px 35px 10px #888888;
};